@media screen and (max-width: 600px) {
    body {
        margin: 0;
    }
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin: 20px; */
    }
    nav ul {
        flex-direction: column;
        margin: 20px;
    }
    nav li {
        padding: 15px;
    }
    .head {
        flex-direction: column;
        /* padding-top: 50px; */
        padding: 0;
        align-items: center;
    }
    .head-text {
        padding-top: 50px;
        padding-bottom: 50px;
        /* width: 600px; */
        align-items: center;
        padding: 0 30px;
    }
    .stats {
        flex-direction: column;
    }
    .stat-cards ul {
        flex-direction: column;
    }
    .feat-head {
        flex-direction: column;
        align-items: center;
    }
    .features {
        padding: 0;
    }
    .feat-cards ul {
        flex-direction: column;
        align-items: center;
    }
    .contact {
        flex-direction: column;
        margin: 10px;
        padding: 10px 20px;
        align-items: center ;
    }
    .bot-menu ul {
        padding: 0 50px;
    }
}